
<div id="footer-wrapper">


        <footer id="footer" class="">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        &copy; 2017
                    </div>
                </div>
            </div>
        </footer><!--/#footer-->
        </div>


    <script src="js(front)/bootstrap.min.js"></script>
    <script src="js(front)/jquery.prettyPhoto.js"></script>
    <script src="js(front)/plugins.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWDPCiH080dNCTYC-uprmLOn2mt2BMSUk&amp;sensor=true"></script>
    <script src="js(front)/init.js"></script>




</body>
</html>
