<% include header %>

<h1><%= title %></h1>

<div class="container">
    <form action="/auth/login" method="post">
        <input type="text" name="username" placeholder="Nombre de usuario">
        <input type="password" name="password" placeholder="Contraseña">
        <input type="submit" name="enter" value="Hecho">
    </form>
    
    <a href="/auth/google" class="btn btn-danger col-md-3"><span class="fa fa-google-plus"></span></a>
    <div class="col-md-2"></div>
    <a href="/auth/facebook" class="btn btn-primary col-md-3"><span class="fa fa-facebook"></span></a>
</div>

<% include footer %>
