<% include header %>

<div class="container">

    <h1><%= title %></h1>

    <div class="form-group row">
        <a href="/auth/google" class="btn btn-danger col-md-3"><span class="fa fa-google-plus"></span></a>
        <div class="col-md-2"></div>
        <a href="/auth/facebook" class="btn btn-primary col-md-3"><span class="fa fa-facebook"></span></a>
    </div>
        
    </div>

</div>

<% include footer %>
